#FPGA_GCLK
#
#PIN "CLK_GEN_1/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
#
NET "CLK_8MHZ" LOC = "N8" | IOSTANDARD = LVCMOS33;
#
#CLK_LFC
NET "CLK_1HZ" LOC = "N7" | IOSTANDARD = LVCMOS33;
#
#BTNs
#NET "sw<0>" LOC = "P8" | IOSTANDARD = LVCMOS33;
NET "btn_reset" LOC = "P9"  | IOSTANDARD = LVCMOS33;
#NET "ext_reset" LOC = "K13" | IOSTANDARD = LVCMOS33;	#Pin 10
#
#LEDs
NET "Led<0>" LOC = "N3" | IOSTANDARD = LVCMOS33;
NET "Led<1>" LOC = "P3" | IOSTANDARD = LVCMOS33;
NET "Led<2>" LOC = "N4" | IOSTANDARD = LVCMOS33;
NET "Led<3>" LOC = "P4" | IOSTANDARD = LVCMOS33;
#
#Transmition Gates
NET "TG<0>" LOC = "N6" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "TG<1>" LOC = "P7" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "TG<2>" LOC = "P12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
#
NET "TG<3>" LOC = "N12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "TG<4>" LOC = "L14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "TG<5>" LOC = "L13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;



# USB-UART
NET "uart_rx" LOC = "A3" | IOSTANDARD = LVCMOS33;			#pin26
NET "uart_tx" LOC = "B3" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;	#pin27
#
#Entradas y salidas principales
NET "Pulsos_A" LOC = "F1" | IOSTANDARD = LVCMOS33 | PULLUP;  #Pin35
NET "Pulsos_B" LOC = "H1" | IOSTANDARD = LVCMOS33 | PULLUP;	 #Pin37
#
#NET "Enable_1" LOC = "F14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4; #pin15
#NET "Enable_2" LOC = "G14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4; #pin17 
#
#NET "Led_aviso" LOC = "L2" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4; #Pin 46
#NET "Start"		 LOC = "M1" | IOSTANDARD = LVCMOS33 | PULLUP;	#Pin 47
#NET "Stop"		 LOC = "M2" | IOSTANDARD = LVCMOS33 | PULLUP;	#Pin 48
#
NET "Pin1" LOC = "P5" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4; #Pin 1
NET "Pin2" LOC = "N5" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4; #Pin 2
# Señales I2C, deben tener un Pull Up externo de 4k7
#NET "i2c_data"        LOC = "N6" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4; #Pin3
#NET "i2c_clk"         LOC = "P7" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4; #Pin4
#
#NET "CLK_100MHZ" LOC = "H13" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4; #Pin14
#